@import 'fonts.css';
/* FONTS  */
/* ROOT  */

:root{
     --m-l: 'montserrat-light';
     --r-b: 'releway-bold';
     --r-e: 'releway-extrabold';
     --r-m: 'montserrat-medium';
     --r-r: 'montserrat-regular';
     --r-s: 'montserrat-samibold';
}
/* GLOBALL */

html {
     height: 100%;
     box-sizing: border-box;
     scroll-behavior: smooth;
}

*,
*::before,
*::after {
     box-sizing: border-box;
}

body {
     display: flex;
     height: 100%;
     padding: 0;
     margin: 0;
     flex-direction: column;
     background-color: #fff;
     color: #222;
     font-family: "Arial" sans-serif;
     font-size: 16px;
     line-height: 1.5;
}

img {
     max-width: 100%;
     height: auto;
}

AUTOFILL-STYLES
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
     border-color: transparent;
     -webkit-text-fill-color: inherit;
     -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

PLACEHOLDER-STYLES
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
     color: rgba(52, 49, 61, 0.5);
     opacity: 1;
}

.visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     clip: rect(0 0 0 0);
     overflow: hidden;
}

/* CONTAINER  */

.container {
     width: 100%;
     max-width: 1400px;
     padding-left: 50px;
     padding-right: 50px;
     margin-left: auto;
     margin-right: auto;
}

.main-content {
     flex-grow: 1;
}
.bg-light {
     background-color: #f8f9fa00 !important;
 }
header{
     width: 100%;
     height: 700px;
     background-image: url(../img/fon-one.jpg);
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
}
.navbar-nav .nav-item .nav-link {
     color: black!important;
}

header .header_text h2{
     font-size: 36px;
     color: #000;
     font-weight: 700;
     font-family: var(--m-l);
}
header .header_text p{
     font-size: 16px;
     color: #808081;
     font-family: var(--m-l);
     margin-top: 38px;
     margin-bottom: 55px;
}
header .header_text button{
     margin-bottom: 100px;
     font-size: 15px;
     color: #fff;
     background-color: #007d2f;
     font-weight: 700;
     font-family: var(--m-l);
     border: none;
     text-transform: uppercase;
     padding: 23px 45px;
     border-radius: 5px  ;
     transition: 0.5s ease;
}
header .header_text button:hover{
     background-color: #aaa;
     color: #110b0bb9;
     box-sizing: 12px 5px 20px #808081;
}
header .header_text{
     height: 100%;
     padding-top: 10%;
}
/* --------------About Section */
.skills_text{
     padding: 170px 60px 236px 130px;
}
.about{
     margin: 95px 0 25px 0;
}
.about .about_text{
     text-align: center;
}
.about .about_text h2{
     font-size: 35px;
     color: #191919;
     font-family: var(--m-l);
     font-weight: 600;
}
.skills .skill-row{
     margin-left: 0;
     margin-right: 0;

}
.about .about_text p{
     padding: 44px 0 55px 0;
     color: #787878;
     font-family: var(--r-m);
}
.skills .section__img{
     position: relative;
}
.skills .section__img img{
     width: 100%;
     position: absolute;
     right: 0px;
}
.skills .skills_text{
     background: #f8f9f9;
}
.skills .skills_col_text{
     padding-right: 0;
     padding-left: 0;
}
.skills .skills_text h3{
     font-size: 30px;
     color: #171717;
     font-family: var(--m-lml);
     font-weight: 400;
}
.skills .skills_text p{
     font-size: 15px;
     color: #000;
     font-weight: 700;
     font-family: var(--m-l);
}

.skills .skills_text .design::after{
     content: '';
     display: block;
     width: 100%;
     height: 3px;
     background: linear-gradient(to right, #007d2f 75%,#d8d8d8 25%);
     margin-top: 20px;
}
.skills .skills_text .web::after{
     content: '';
     display: block;
     width: 100%;
     height: 3px;
     background: linear-gradient(to right, #007d2f 90%,#d8d8d8 10%);
     margin-top: 20px;
}
.skills .skills_text .marketing::after{
     content: '';
     display: block;
     width: 100%;
     height: 3px;
     background: linear-gradient(to right, #007d2f 65%,#d8d8d8 35%);
     margin-top: 20px;
}

/* -----------------------BLOCK ICON------------------ */

.block_icon{
     background: #007d2f;
     text-align: center;
     color: #fff;
     padding: 55px 55px;
}
.block_icon .icon_text i{
     font-size: 40px;
}
.block_icon .icon_text .text{
     font-size: 15px;
     text-transform: uppercase;
     font-family: var(--m-l);
}
/* ---------------------gallery--------------------- */
.gallery img{
     width: 100%;
}
.gallery .gallery_row .gallery_col{
     padding-left: 0;
     padding-right: 0;
}
.gallery .gallery_box{
     position: relative;
}
.gallery .gallery_box .gallery_icon{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     font-size: 0;
     color: #fff;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: 0.5s ease;
}
.gallery .gallery_box .gallery_icon:hover{
     font-size: 30px;
     background: #1d1d1d77;
}
.gallery .gallery_row{
     margin-left: 0;
     margin-right: 0;
}


@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {}